/*
*
*
*
****    Config Sass By Iban Syahdien    ****
****    Author: Iban Syahdien Akbar     ****
*
*
*
*/

:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;

    // --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    // --font-default: 'Expletus Sans', cursive;
    --font-default: 'Poppins', sans-serif;
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;

    /* Colors: */
    --unnamed-color-ffcc00: #FFCC00;
    --unnamed-color-da0402: #DA0402;
    --unnamed-color-e3e3e3: #E3E3E3;
    --unnamed-color-f2f2f2: #F2F2F2;
    --unnamed-color-97510a: #97510A;
    --unnamed-color-555aa5: #555AA5;
    --unnamed-color-dddddd: #DDDDDD;
    --unnamed-color-ffffff: #fff;
    --unnamed-color-15ae1a: #15AE1A;
    --unnamed-color-f8f8f8: #F8F8F8;
    --unnamed-color-707070: #707070;
    --unnamed-color-f4e226: #F4E226;
    --unnamed-color-b8aaf7: #B8AAF7;
    --unnamed-color-f28f2a: #f28f2a;
    --unnamed-color-5a5a5a: #5A5A5A;
    --unnamed-color-CC6700: #CC6700;
    --unnamed-color-51568F: #51568F;
    --unnamed-color-9A9494: #9A9494;
    --unnamed-color-ed2229: #EE2F21;
    --unnamed-color-33c2e2: #33c2e2;
    --unnamed-color-94ead7: #94ead7;

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Poppins, "Helvetica Neue", Poppins, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --swiper-image-ratio: 33.3%;
    /* ratio 16:9 = 56.25% */

    --swiper-width: 50%;
    --swiper-inactive-scale: .85;
    /* makes the other slide smaller */

    /* responsive settings */
    --swiper-mobile-width: 90%;
    --swiper-mobile-inactive-scale: .95;

    scroll-behavior: smooth;

}

$font-stack: Poppins, sans-serif;
$body-background: #F2F2F2;
$color: #c59e33;
$body-color: #5A5A5A;
$color2: #f5f4f4;
$colorkuninggelap: #EE2F21;
$brandColor : #c59e33;
$rgba_brand : rgba(197, 158, 51, 241);
$primary-color	: #008d57;
$primary-color2	: #72ba66;
$primary-color3	: #009f63;
$primary-color4 : #009f63;
$primary-color5 : #f5f4f4;

/**************************************** SOURCE BY IBAN *********************************************************************/
@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Poppins:400,500");
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

input::selection {
    color: #fff;
    background: $primary-color;
}

body {
    font-family: var(--font-default);
    color: #444444;
}

a {
    text-decoration: none;
    color: #f2f2f2f2;
}

a:hover {
    color: #2b99f8;
    text-decoration: none;
}

.text-primary {
    color: $primary-color !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-default);
}

@media(max-width: 992px) {
    #topbar {
        display: none !important;
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #f2f2f2f2;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: $primary-color;
    line-height: 0;
}

.back-to-top:hover {
    background: $primary-color;
    color: #fff;
}

.back-to-top:hover>i {
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2f2;
    border-top-color: $primary-color;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    background: $primary-color;
    transition: all 0.5s;
    z-index: 997;
    height: 70px;
    top: 30px;
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 0 30px;
    border-radius: 5px;
}

#header .container-fluid {
    justify-content: center !important;
}

#header.header-scrolled {
    background: $primary-color3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top: 20px;
}

#header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: absolute;
    left: calc(10% - 30px);
}

#header .logo a {
    color: #fff;
}

#header .logo img {
    max-height: 60px;
    transition: all .3s ease-in-out;
}

img {
    transition: all .3s ease-in-out;
}

img:hover {
    filter: grayscale(3);
    transition: all .3s ease-in-out;
}

#header .logo:hover img {
    filter: grayscale(3);
    transition: all .3s ease-in-out;
}

.header-inner-pages {
    background: rgba(0, 0, 0, 1);
}

.topbar-inner-pages {
    background: rgba(0, 0, 0, 1);
}

@media(max-width: 992px) {


    #header .container-fluid {
        justify-content: end !important;
    }

    #header .logo img {
        max-height: 45px;
    }

    #header.header-scrolled {
        top: 10px;
    }

    #header {
        margin: 0 10px;
        top: 20px;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 24px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: uppercase;
}

#header.header-scrolled .navbar a,
#header.header-scrolled .navbar a:focus {
    color: #fff;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

#header.header-scrolled .navbar>ul>li>a:before {
    background-color: #fff;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #fff;
}

#header.header-scrolled .navbar a:hover,
#header.header-scrolled .navbar .active,
#header.header-scrolled .navbar .active:focus,
#header.header-scrolled .navbar li:hover>a {
    color: #fff;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.3s;
    border-radius: 8px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #000;
}

.navbar .dropdown ul a.active {
    color: $primary-color;
}

#header.header-scrolled .navbar .dropdown ul a {
    color: #000;
}

#header.header-scrolled .navbar .dropdown ul a.active {
    color: $primary-color;
}

.navbar a i {
    font-size: 16px;
}

.navbar .login {
    background: $primary-color;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1.5px;
    display: none;
}

.navbar .login-li {
    display: none;
}

#header.header-scrolled .navbar .login {
    background: $primary-color;
    color: #fff;
    display: block;
    transition: all .3s ease-in-out;
}

#header.header-scrolled .login-li {
    display: block;
}

.navbar li:hover .login,
.navbar .login:hover {
    background: #fff;
    color: $primary-color;
}

#header.header-scrolled .navbar li:hover .login,
#header.header-scrolled .navbar .login:hover {
    background: #fff;
    color: $primary-color;
}

.navbar .dropdown ul a i,
.navbar .dropdown ul a:focus i {
    font-size: 12px;
}

.navbar .dropdown ul a.active {
    color: $primary-color;
}

#header.header-scrolled .navbar .dropdown ul a.active {
    color: $primary-color;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: $primary-color3;
}

#header.header-scrolled .navbar .dropdown ul a:hover,
#header.header-scrolled .navbar .dropdown ul .active:hover,
#header.header-scrolled .navbar .dropdown ul li:hover>a {
    color: $primary-color3;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

#header.header-scrolled .mobile-nav-toggle {
    color: #fff;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

#header.header-scrolled .mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(17, 17, 17, 0.8);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
    // max-height: 550px;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 15px 20px;
    font-size: 15px;
    color: #000;
}

#header.header-scrolled .navbar-mobile a,
#header.header-scrolled .navbar-mobile a:focus {
    color: #000;
}

.navbar-mobile li:hover .login,
.navbar-mobile .login:hover {
    background: #fff;
    color: $primary-color;
}

#header.header-scrolled .navbar-mobile li:hover .login,
#header.header-scrolled .navbar-mobile .login:hover {
    background: #fff;
    color: $primary-color;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: $primary-color;
}

#header.header-scrolled .navbar-mobile a:hover,
#header.header-scrolled .navbar-mobile .active,
#header.header-scrolled .navbar-mobile li:hover>a {
    color: $primary-color !important;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: $primary-color;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

@media (min-width: 993px) {
    .d-logo-mobile {
        display: none;
    }
}

@media (max-width: 992px) {
    .d-logo-mobile {
        display: block;
        background: #fff;
        margin-bottom: 20px;
        opacity: 1;
        margin-top: -10px;
    }

    .d-logo-mobile img {
        width: 40%;
        margin-left: calc(50% - 50px);
    }
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
    background-color: transparent;
    padding: 0;
}

.why-us .content {
    padding: 10px 50px 0 50px;
    margin-top: 5%;
}

.why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.why-us .content h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
}

/*----------------------------------------*\
|    expander CSS only below this point    |
\*----------------------------------------*/

.why-us .full-width {
    background: transparent;
    border-top: none;
    border-bottom: none;
    padding: 20px 0;
    text-align: left;
    margin-bottom: 140px;
}

.why-us .page-width {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}

.why-us .button {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding: 6px 6px;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 1px;
    text-decoration: none;
    transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    display: inline-block;
    outline: none;
}

.why-us .button:hover,
.why-us .button:active {
    filter: brightness(90%);
}

.why-us button.expand-toggle.hidden {
    display: none;
}

.why-us .expander {
    position: relative;
    overflow: hidden;
    max-height: 144px;
    /* starting height - best to use a multiple of line-height */
    transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    margin-bottom: 15px;
}

.why-us .expander:before {
    /* this applies a faded gradient to the bottom of the expanding content when closed */
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#F9FBFB00 30%, #fff);
    /* match this colour with the colour of the background */
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    z-index: 50 !important;
    opacity: 1;
}

.why-us .expander.expanded:before {
    /* hides the gradient when expanded */
    opacity: 0;
    max-height: 100%;
    margin: 0;
    padding: 0;
    z-index: 50 !important;
}

@media only screen and (min-width: 480px) {

    /* adusts the max-height of the 'closed' expander for 480px+ */
    .why-us .expander {
        max-height: 96px;
    }
}

@media only screen and (min-width: 720px) {

    /* adusts the max-height of the 'closed' expander for 720px+ */
    .why-us .expander {
        max-height: 140px;
        margin-bottom: 40px;
    }
}

.why-us .content p {
    font-size: 15px;
    color: #000;
    text-align: left;
}

.why-us .hiring {
    margin-top: -15% !important;
}

.why-us .btn-custom {
    border-bottom: 2px solid #fff;
    color: #fff;
    margin-top: 15px;
    border-radius: 0;
    text-transform: uppercase;
}

.why-us .btn-custom:hover {
    border-bottom: 2px solid #fff;
    border-radius: 5px;
    color: $primary-color !important;
    background: #fff !important;
    margin-top: 15px;
}

@media(max-width: 992px) {
    .why-us .hiring {
        padding: 10px !important;
        margin-top: 0 !important;
    }

    .why-us .btn-custom {
        margin-bottom: 20px;
    }

    .why-us .content h3 {
        font-size: 24px;
        margin-bottom: 30px;
        text-align: center;
        margin-top: 20px;
    }

    .why-us .content p {
        text-align: center;
    }
}

.why-us .video-box {
    background-size: 60% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 500px;
    background-image: url("../img/profile/ifan.jpg");
    position: relative;
}

@media(max-width: 992px) {
    .why-us .video-box {
        background-size: cover;
        min-height: 450px;
    }
}

.why-us .accordion-list {
    padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
    padding: 0;
    list-style: none;
}

.why-us .accordion-list li+li {
    margin-top: 15px;
}

.why-us .accordion-list li {
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.why-us .accordion-list a {
    display: block;
    position: relative;
    font-family: var(--font-default);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    color: #000;
}

.why-us .accordion-list a:focus,
.why-us .accordion-list a:hover {
    color: #000;
    transition: all .3s ease-in-out;
}

.why-us .accordion-list span {
    color: #0000008f;
    font-weight: 600;
    font-size: 18px;
    padding-right: 10px;
    margin-left: 20px;
}

.why-us .accordion-list span i {
    position: absolute;
    left: 0;
    top: 0;
}

.why-us .accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.why-us .accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.why-us .accordion-list .icon-show {
    display: none;
}

.why-us .accordion-list a:active {
    color: #000;
}

.why-us .accordion-list a.collapsed {
    color: #0000008f;
    transition: all .3s ease-in-out;
    border-bottom: none;
}

.why-us .accordion-list a.collapsed:hover {
    color: #000;
    transition: all .3s ease-in-out;
}

.why-us .accordion-list a.collapsed .icon-show {
    display: inline-block;
}

.why-us .accordion-list a.collapsed .icon-close {
    display: none;
}

.collapse {
    visibility: visible !important;
}

.why-us .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#fff 50%, rgba(197, 158, 51, .8) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}

.why-us .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid $primary-color;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.why-us .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid #fff;
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

.why-us .play-btn:hover::after {
    border-left: 15px solid #fff;
    transform: scale(20);
}

.why-us .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid $primary-color;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@media (max-width: 1024px) {

    .why-us .content,
    .why-us .accordion-list {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 992px) {
    .why-us .content {
        padding-top: 30px;
    }

    .why-us .accordion-list {
        padding-bottom: 30px;
    }
}

@-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background: url("../img/profile/ifan.jpg") no-repeat center;
    background-size: 100% 100%;
    position: relative;
    margin-bottom: -90px;
    z-index: 10;
    transition: 0.3s;
}

#hero:before {
    content: "";
    background: rgba(101, 101, 101, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 5%;
}


#hero h2 {
    font-family: "Poppins", sans-serif;
    color: #fff;
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: 700;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

@media(max-width: 992px) {
    #hero p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #hero .carousel-container {
        margin-top: 40%;
    }
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 48px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .btn-get-started {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: $primary-color;
    background: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    text-transform: uppercase;
    border: 2px solid #fff;
}

#hero .btn-get-started:hover {
    background: $primary-color;
    color: #fff;
    text-decoration: none;
}

@media (min-width: 1024px) {
    #hero p {
        width: 60%;
    }

    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}

@media (max-width: 992px) {
    #hero {
        height: 50vh;
        padding: 100px 0;
        background-size: 100% 100%;
    }

    #hero h2 {
        font-size: 16px;
        width: 80% !important;
        margin-top: -70px;
    }

    #hero .btn-get-started {
        font-size: 14px;
        margin-top: -30px;
    }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    margin-top: 5px;
    padding: 40px 0;
    overflow: hidden;
}

.section-bg {
    background-color: rgba(197, 158, 51, .8);
}

.section-bg .section-title h2 {
    color: #fff;
}

.section-title.abouts {
    text-align: left;
    float: left;
}

.section-title.abouts h2 {
    color: #000 !important;
    opacity: 1 !important;
}

@media(max-width: 992px) {

    .section-title h2 {
        font-size: 24px !important;
    }
}

.section-bg .entries .btn-more {
    background: transparent;
    color: #fff;
    border-bottom: 2px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
}

.section-bg .entries .btn-more:hover {
    background: #fff;
    border-bottom: none;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #4a4a4d;
}

.section-title p {
    margin-bottom: 0;
    font-style: italic;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about {
    padding: 60px 0;
    background: transparent;
    position: relative;
}

.about:before {
    content: "";
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.about .container {
    position: relative;
    margin: 0 150px;
}

.about .container .abouts {
    text-align: left;
    margin: 0;
}

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-left: 28px;
    position: relative;
}

.about .content ul li+li {
    margin-top: 10px;
}

.about .content ul i {
    position: absolute;
    left: 0;
    top: 2px;
    font-size: 20px;
    color: #f2f2f2f2;
    line-height: 1;
}

.about .content p:last-child {
    margin-bottom: 0;
}

.about .content .btn-learn-more {
    font-family: var(--font-default);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 5px;
    transition: 0.3s;
    line-height: 1;
    color: #f2f2f2f2;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #f2f2f2f2;
}

.about .content .btn-learn-more:hover {
    background: #f2f2f2f2;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .about .container {
        position: relative;
        margin: 0;
    }

    .about {
        padding: 10px 0;
        margin-top: 25%;
    }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
    background: linear-gradient(rgba(5, 74, 133, 0.8), rgba(5, 74, 133, 0.9)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #fff;
}

.cta .cta-btn {
    font-family: var(--font-default);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 8px 26px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border-radius: 50px;
    border: 2px solid $primary-color;
    color: #fff;
}

.cta .cta-btn:hover {
    background: $primary-color;
}

@media (max-width: 1024px) {
    .cta {
        background-attachment: scroll;
    }
}

@media (min-width: 769px) {
    .cta .cta-btn-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

/* Bordered Tabs */
.nav-tabs-bordered {
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $primary-color;
    cursor: e-resize;
}

.nav-tabs-bordered::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    cursor: e-resize;
}

.nav-tabs-bordered .nav-link {
    margin-bottom: -1px;
    border: none;
    color: #2c384e;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
    color: $primary-color;
}

.nav-tabs-bordered .nav-link.active {
    background-color: #fff;
    color: $primary-color;
    border-bottom: 5px solid $primary-color;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Portfoio
--------------------------------------------------------------*/
.portfoio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.portfoio #portfolio-flters::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: $primary-color;
    cursor: e-resize;
}

.portfoio #portfolio-flters::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    cursor: e-resize;
}

.portfoio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 20px 10px 18px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 10px 15px 3px;
    transition: all ease-in-out 0.3s;
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
}

.portfoio #portfolio-flters li:hover,
.portfoio #portfolio-flters li.filter-active {
    color: #fff;
    background: $primary-color;
    border-bottom: none;
    border-radius: 10px;
}

.portfoio #portfolio-flters li:last-child {
    margin-right: 0;
}

.portfoio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfoio .portfolio-item img {
    position: relative;
    top: 0;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfoio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: -50px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: $primary-color;
    padding: 15px 20px;
}

.portfoio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.portfoio .portfolio-item .portfolio-info p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

.portfoio .btn-more {
    background: $primary-color;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    border: 1px solid $primary-color;
    font-weight: 600;
}

.portfoio .btn-more:hover {
    background: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid $primary-color;
    border-radius: 0;
    color: $primary-color;
    transition: all .3s ease-in-out;
}

.portfoio .portfolio-item .portfolio-info .preview-link,
.portfoio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 50px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: white;
    transition: ease-in-out 0.3s;
}

.portfoio .portfolio-item .portfolio-info .preview-link:hover,
.portfoio .portfolio-item .portfolio-info .details-link:hover {
    border-bottom: 1px solid #fff;
}

.portfoio .portfolio-item .portfolio-info .details-link {
    right: 15px;
}

.portfoio .portfolio-item:hover img {
    top: -30px;
}

.portfoio .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 0;
}

.portfoio .blog .sidebar {
    border: 1px solid $primary-color;
    transition: all .3s ease-in-out;
}

@media(max-width: 992px) {
    .portfoio .blog .sidebar {
        margin: 0;
        width: 100%;
    }
}

.portfoio .blog .sidebar:hover {
    box-shadow: rgba(197, 158, 51, 241) 0px 5px 15px;
    transition: all .3s ease-in-out;
}

.portfoio .blog .sidebar .sidebar-title {
    font-size: 16px;
}

.portfoio .blog .sidebar .sidebar-desc {
    font-size: 14px;
    margin-bottom: 25px;
}

.portfoio .blog .sidebar .sidebar-item .post-item img {
    border-radius: 0;
}

.portfoio .blog .sidebar .sidebar-item .post-item h4.post-title {
    color: #6e6e70;
    font-weight: 600;
    background: transparent !important;
}

.portfoio .blog .sidebar .sidebar-item .post-item h4 a {
    font-size: 14px;
    color: #fff;
    background: $primary-color;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    border-bottom: none;
}

.portfoio .blog .sidebar .sidebar-item .post-item h4 a:hover {
    font-size: 14px;
    color: $primary-color;
    background: transparent;
    border-bottom: 2px solid $primary-color;
    transition: all .3s ease-in-out;
}

.portfoio .blog .sidebar .sidebar-item .post-item h4 a i {
    color: #fff;
}

.portfoio .blog .sidebar .sidebar-item .post-item h4 a:hover i {
    color: $primary-color;
}

.form-group .btn-custom {
    background: $primary-color;
    border-bottom: 1px solid $primary-color;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    transition: all .3s ease-in-out;
    margin-top: 20px;
    float: right !important;
}

.portfoio .blog .sidebar .sidebar-item .post-item .form-group .btn-custom:hover {
    background: #fff;
    color: $primary-color ;
    border-bottom: 1px solid $primary-color;
    transition: all .3s ease-in-out;
}

.portfoio .blog .sidebar .sidebar-item .post-item .form-control:focus {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid $primary-color !important;
    box-shadow: none !important;
}

.gslide-media.gslide-image img {
    border-radius: 0;
}

.gprev,
.gnext,
.gclose {
    background-color: $primary-color !important;
}

.gdesc-inner {
    background-color: $primary-color !important;
}

.gdesc-inner h4 {
    font-size: 20px !important;
    text-align: center;
    color: #fff !important;
}

@media(max-width: 992px) {
    .gdesc-inner h4 {
        font-size: 16px !important;
    }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
    width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
    margin-top: 20px;
    position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #f2f2f2f2;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #f2f2f2f2;
}

.portfolio-details .portfolio-info {
    padding: 30px;
    box-shadow: 0px 0 30px rgba(246, 176, 36, 0.08);
}

.portfolio-details .portfolio-info h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
    margin-top: 10px;
}

.portfolio-details .portfolio-description {
    padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
    padding: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
    background: url("../img/contact-bg.png") left center no-repeat;
    position: relative;
}

.contact:before {
    content: "";
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.contact .container {
    position: relative;
}

.contact .info {
    width: 100%;
}

.contact .info i {
    font-size: 20px;
    background: #f2f2f2f2;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #043c6d;
}

.contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #444444;
}

.contact .info .email,
.contact .info .phone {
    margin-top: 40px;
}

.contact .php-email-form {
    width: 100%;
    background: #fff;
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
    border: 0;
    padding: 10px 32px;
    color: #f2f2f2f2;
    transition: 0.4s;
    border-radius: 50px;
    border: 2px solid #f2f2f2f2;
    background: #fff;
}

.contact .php-email-form button[type=submit]:hover {
    background: #f2f2f2f2;
    color: #fff;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: $primary-color;
    margin-top: 160px;
}

.breadcrumbs h2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

@media(max-width: 992px) {
    .breadcrumbs {
        margin-top: 100px;
    }

    .breadcrumbs h2 {
        font-size: 20px;
    }
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

.breadcrumbs ol li+li {
    padding-left: 10px;
    color: #f8f8f8;
}

.breadcrumbs ol li a {
    color: #fff;
    text-decoration: underline;
}

.breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "/";
}

.breadcrumbs ol li {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #f8f8f8;
    padding: 0 0 30px 0;
    color: #6e6e70;
    font-size: 14px;
}

#footer .footer-newsletter {
    padding: 50px 0;
    background: #957827;
}

#footer .footer-newsletter h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #fff;
}

#footer .footer-newsletter p {
    color: #fff;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=email] {
    border: 0;
    padding: 4px;
    width: calc(100% - 100px);
    color: #000;
}

#footer .footer-newsletter form .form-floating label {
    text-transform: uppercase !important;
}

#footer .footer-newsletter form input[type=email]::placeholder {
    color: #000;
    opacity: .5;
    text-transform: capitalize;
}

#footer .footer-newsletter form input[type=email]:focus {
    box-shadow: none;
}

#footer .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    margin: 3px;
    background: $primary-color;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
}

#footer .footer-newsletter form input[type=submit]:hover {
    background: #fff;
    border: none;
    color: $primary-color;
    font-weight: 600;
}

#footer .footer-top {
    background: #f8f8f8;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 18px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color: #6e6e70;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: var(--font-default);
    color: #6e6e70;
}

#footer .footer-top .social-links a {
    font-size: 16px;
    display: inline-block;
    color: $primary-color;
    line-height: 1;
    padding: 10px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    border: 1px solid $primary-color;
}

#footer .footer-top .social-links a:hover,
#footer .footer-top .social-links:hover a,
#footer .footer-top .social-links a:hover>i {
    background: $primary-color;
    color: #fff;
    text-decoration: none;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #6e6e70;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #6e6e70;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #6e6e70;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    color: $primary-color3;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
    width: 80%;
}

#footer .footer-top .footer-contact a {
    transition: all .3s ease-in-out;
    color: #6e6e70;
}

#footer .footer-top .footer-contact a:hover {
    transition: all .3s ease-in-out;
    color: $primary-color3;
}

#footer video {
    border-radius: 10px;
    margin-top: 20px;
}

#footer .copyright {
    text-align: right;
    float: right;
    position: absolute;
    right: 10%;
    color: #6e6e70;
    margin-top: 30px;
}

#footer .foot-copy {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #6e6e70;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    color: #6e6e70;
}

#footer .img-footbrand {
    width: 50%;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    margin-top: -40px;
    margin-bottom: 5px;
    margin-left: 75px;
}

#footer .img-award {
    width: 40%;
    margin-top: -20px;
    margin-left: 30px;
}

@media(max-width: 992px) {
    #footer .footer-top .footer-contact p {
        width: 100%;
        padding: 0;
    }

    #footer .foot-copy {
        display: block;
        padding-bottom: 50px;
    }

    #footer .copyright {
        text-align: center;
        position: inherit;
        padding: 20px;
        margin: 0px;
    }

    #footer .credits {
        white-space: nowrap;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    #footer .credits::-webkit-scrollbar {
        width: 5px !important;
        height: 2px !important;
        -webkit-overflow-scrolling: touch !important;
        -ms-overflow-style: -ms-autohiding-scrollbar !important;
        -webkit-transition: 0.3s ease-in-out !important;
        transition: 0.3s ease-in-out !important;
    }

    #footer .img-footbrand {
        width: 80%;
        margin-left: 35px;
        margin-bottom: 20px;
        margin-top: -40px;
    }

    #footer .img-award {
        width: 50%;
        margin-top: 10px;
        margin-left: calc(35% - 50px);
    }
}

#footer .credits a {
    color: #6e6e70;
    font-weight: 500;
}

.col-4 {
    margin-bottom: 20px;
}

.custom-swiper-wrapper {
    transform: translate(0, 0);

    .swiper-button-prev.swiper-custom-nav {
        position: absolute;
        left: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper-button-next.swiper-custom-nav {
        position: absolute;
        right: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }
}

.custom-swiper-wrappers {
    transform: translate(0, 0);

    .swiper-button-prev.swiper-custom-navs {
        position: absolute;
        left: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper-button-next.swiper-custom-navs {
        position: absolute;
        right: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }
}

@media(max-width: 992px) {
    .custom-swiper-wrappers {
        &:hover {
            transform: translate(0, 0);

            .swiper-button-prev.swiper-custom-navs {
                position: absolute;
                left: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }

            .swiper-button-next.swiper-custom-navs {
                position: absolute;
                right: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }
        }
    }

    .custom-swiper-wrapper {
        &:hover {
            transform: translate(0, 0);

            .swiper-button-prev.swiper-custom-nav {
                position: absolute;
                left: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }

            .swiper-button-next.swiper-custom-nav {
                position: absolute;
                right: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }
        }
    }
}

@media (min-width: 993px) {

    .custom-swiper-wrappers {
        &:hover {
            transform: translate(0, 0);

            .swiper-button-prev.swiper-custom-navs {
                position: absolute;
                left: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }

            .swiper-button-next.swiper-custom-navs {
                position: absolute;
                right: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }
        }
    }

    .custom-swiper-wrapper {
        &:hover {
            transform: translate(0, 0);

            .swiper-button-prev.swiper-custom-nav {
                position: absolute;
                left: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }

            .swiper-button-next.swiper-custom-nav {
                position: absolute;
                right: 25px;
                transition: all .3s ease-in-out;
                // animation: fadeInAnimation ease 2s;
                // animation-iteration-count: 1;
                // animation-fill-mode: forwards;
                visibility: visible;
            }
        }
    }

}

.py-next::after,
.ktg-next::after,
.hire-next::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(255, 255, 255, 1) !important;
    transition: all .3s ease-in-out;
    border-radius: 50px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // right: 0;
}

.py-prev::after,
.ktg-prev::after,
.hire-prev::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(255, 255, 255, 1) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 50px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // left: 0;
}

.py-next:hover::after,
.ktg-next:hover::after,
.hire-next:hover::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgba(170, 168, 168, 0.285) !important;
    transition: all .3s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // right: 0;
}

.py-prev:hover::after,
.ktg-prev:hover::after,
.hire-prev:hover::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgba(170, 168, 168, 0.285) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 50%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // left: 0;
}

.py-next:active::after,
.ktg-next:active::after,
.hire-next:active::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(255, 255, 255, 1) !important;
    transition: all .3s ease-in-out;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // right: 0;
}

.py-prev:active::after,
.ktg-prev:active::after,
.hire-prev:active::after {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(255, 255, 255, 1) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 50%;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    // left: 0;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.bold {
    font-weight: bold;
}

.submitForm .disabled {
    cursor: no-drop !important;
    border: 1px solid #999999 !important;
    background-color: #cccccc !important;
    color: #666666 !important;
    pointer-events: none;
}

.tbl-skeleton {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #e1e1e1 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    -webkit-animation: 1.5s shine linear infinite;
    animation: 1.5s shine linear infinite;
    padding: 10px 10px;
    height: 30vh;
}

@-webkit-keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.text-links {
    font-size: 28px;
    text-transform: uppercase;
}

/* CSS Multiple Whatsapp Chat */
.whatsapp-name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 0.5;
}

#whatsapp-chat {
    box-sizing: border-box !important;

    outline: none !important;
    position: fixed;
    width: 350px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    bottom: 80px;
    right: 30px;
    overflow: hidden;
    z-index: 50 !important;
    animation-name: showchat;
    animation-duration: 1s;
    transform: scale(1);
}

a.blantershow-chats {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 50 !important;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

a.blantershow-chat {
    /*   background: #009688; */
    background: #fff;
    color: #404040;
    position: fixed;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
    z-index: 50 !important;
    bottom: 50px;
    left: 80px;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
}

@media (max-width: 992px) {
    #whatsapp-chat {
        box-sizing: border-box !important;

        outline: none !important;
        position: fixed;
        width: 350px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        bottom: 100px;
        left: 80px;
        overflow: hidden;
        z-index: 50 !important;
        animation-name: showchat;
        animation-duration: 1s;
        transform: scale(1);
    }

    a.blantershow-chats {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 50 !important;
        bottom: 40px;
        right: 20px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    a.blantershow-chat {
        /*   background: #009688; */
        background: #fff;
        color: #404040;
        position: fixed;
        display: flex;
        font-weight: 400;
        justify-content: space-between;
        z-index: 50 !important;
        bottom: 40px;
        left: 20px;
        font-size: 15px;
        padding: 10px 20px;
        border-radius: 30px;
        box-shadow: 0 1px 15px rgba(32, 33, 36, 0.28);
    }
}

a.blantershow-chats svg {
    transform: scale(1.2);
    margin: 0 10px 0 0;
}

.header-chat {
    /*   background: linear-gradient(to right top, #6f96f3, #164ed2); */
    background: #009688;
    background: #095e54;
    color: #fff;
    padding: 20px !important;
}

.header-chat h3 {
    margin: 0 0 10px;
}

.header-chat p {
    font-size: 18px;
    line-height: 1.7;
    margin: 0;
}

.info-avatar {
    position: relative;
}

.info-avatar img {
    border-radius: 100%;
    width: 70px;
    float: left;
    padding: 0;
    margin: -12px 10px 0 0;
    background: transparent;
}

a.informasi {
    padding: 40px;
    display: block;
    overflow: hidden;
    animation-name: showhide;
    animation-duration: 0.5s;
}

a.informasi:hover {
    background: #f1f1f1;
}

.info-chat span {
    display: block;
}

#get-label,
span.chat-label {
    font-size: 12px;
    color: #888;
}

#get-nama,
span.chat-nama {
    margin: 5px 0 0;
    font-size: 15px;
    font-weight: 700;
    color: #222;
}

#get-label,
#get-nama {
    color: #fff;
}

span.my-number {
    display: none;
}

/* .blanter-msg {
color: #444;
padding: 20px;
font-size: 12.5px;
text-align: center;
border-top: 1px solid #ddd;
} */

.start-chat .blanter-msg {
    display: flex;
    background: #fff;
    padding: 5px;
}

textarea#chat-input {
    border: none;
    font-family: var(--font-default);
    width: 100%;
    height: 30px;
    outline: none;
    z-index: 9999 !important;
    resize: none;
    padding: 2px 5px;
    font-size: 14px;
    overflow-y: auto !important;
}

a#send-it {
    width: 30px;
    font-weight: 700;
    padding: 5px 8px 0;
    background: #eee;
    border-radius: 10px;

    svg {
        fill: #a6a6a6;
        height: 20px;
        width: 20px;
        margin-top: -4px !important;
    }
}

.first-msg {
    background: transparent;
    padding: 30px;
    text-align: center;

    & span {
        background: #e2e2e2;
        color: #333;
        font-size: 14.2px;
        line-height: 1.7;
        border-radius: 10px;
        padding: 15px 20px;
        display: inline-block;
    }
}

#get-number {
    display: none;
}

a.close-chat {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 30px;
}

@keyframes ZpjSY {
    0% {
        background-color: rgb(182, 181, 186);
    }

    15% {
        background-color: rgb(17, 17, 17);
    }

    25% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes hPhMsj {
    15% {
        background-color: rgb(182, 181, 186);
    }

    25% {
        background-color: rgb(17, 17, 17);
    }

    35% {
        background-color: rgb(182, 181, 186);
    }
}

@keyframes iUMejp {
    25% {
        background-color: rgb(182, 181, 186);
    }

    35% {
        background-color: rgb(17, 17, 17);
    }

    45% {
        background-color: rgb(182, 181, 186);
    }
}


@keyframes showhide {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
}

@keyframes showchat {
    from {
        transform: scale(0);
        opacity: 0;
    }
}

@media screen and (max-width: 480px) {
    #whatsapp-chat {
        width: auto;
        left: 5%;
        right: 5%;
        font-size: 80%;
    }
}

.hides {
    display: none;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.shows {
    display: block;
    animation-name: showhide;
    animation-duration: 0.5s;
    transform: scale(1);
    opacity: 1;
}

.whatsapp-message-container {
    display: flex;
    z-index: 1;
}

.whatsapp-message {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);
}

.whatsapp-chat-body {
    padding: 20px 20px 20px 10px;
    background-color: rgb(230, 221, 212);
    position: relative;

    &::before {
        display: block;
        position: absolute;
        content: "";
        left: 0px;
        top: 0px;
        height: 100%;
        width: 100%;
        z-index: 0;
        opacity: 0.08;
        background-image: url("https://elfsight.com/assets/chats/patterns/whatsapp.png");
        // background-image: url(https://res.cloudinary.com/eventbree/image/upload/v1575782560/Widgets/whatsappbg_opt.jpg);
    }
}

.dAbFpq {
    display: flex;
    z-index: 1;
}

.eJJEeC {
    background-color: rgb(255, 255, 255);
    width: 52.5px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-left: 10px;
    opacity: 0;
    transition: all 0.1s ease 0s;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
}

.hFENyl {
    position: relative;
    display: flex;
}

.ixsrax {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    background-color: rgb(158, 157, 162);
    animation-name: ZpjSY;
}

.dRvxoz {
    height: 5px;
    width: 5px;
    margin: 0px 2px;
    background-color: rgb(182, 181, 186);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    top: 0px;
    animation-name: hPhMsj;
}

.kAZgZq {
    padding: 7px 14px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 8px 8px;
    position: relative;
    transition: all 0.3s ease 0s;
    opacity: 0;
    transform-origin: center top 0px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 1px 0.5px;
    margin-top: 4px;
    margin-left: -54px;
    max-width: calc(100% - 66px);

    &::before {
        position: absolute;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAACQUExURUxpccPDw9ra2m9vbwAAAAAAADExMf///wAAABoaGk9PT7q6uqurqwsLCycnJz4+PtDQ0JycnIyMjPf3915eXvz8/E9PT/39/RMTE4CAgAAAAJqamv////////r6+u/v7yUlJeXl5f///5ycnOXl5XNzc/Hx8f///xUVFf///+zs7P///+bm5gAAAM7Ozv///2fVensAAAAvdFJOUwCow1cBCCnqAhNAnY0WIDW2f2/hSeo99g1lBYT87vDXG8/6d8oL4sgM5szrkgl660OiZwAAAHRJREFUKM/ty7cSggAABNFVUQFzwizmjPz/39k4YuFWtm55bw7eHR6ny63+alnswT3/rIDzUSC7CrAziPYCJCsB+gbVkgDtVIDh+DsE9OTBpCtAbSBAZSEQNgWIygJ0RgJMDWYNAdYbAeKtAHODlkHIv997AkLqIVOXVU84AAAAAElFTkSuQmCC");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        top: 0px;
        left: -12px;
        width: 12px;
        height: 19px;
    }
}

.bMIBDo {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.iSpIQi {
    font-size: 14px;
    line-height: 19px;
    margin-top: 4px;
    color: rgb(17, 17, 17);
}

.cqCDVm {
    text-align: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
    color:
        rgba(17, 17, 17, 0.5);
    margin-right: -8px;
    margin-bottom: -4px;
}

.mt-5 {
    margin-top: 5% !important;
}

.mb-5 {
    margin-bottom: 5% !important;
}

@media(max-width: 992px) {
    .mt-5 {
        margin-top: 15% !important;
    }

    .mb-5 {
        margin-bottom: 25% !important;
    }
}

.swiper {
    position: relative;
    width: 100%;
    height: calc(var(--swiper-width) * var(--swiper-image-ratio) / 100%);
    overflow: hidden;
    z-index: 5 !important;
    cursor: grab;
}

.swiper:active {
    cursor: grabbing;
}

.swiper-slide {
    position: relative;
    width: var(--swiper-width);
    opacity: .5;
    transform: scale(.84);
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 0.4285rem;
}

.swiper-backface-hidden .swiper-slide {
    transform: scale(.84) translateZ(0);
}

.swiper-slide.swiper-slide-active {
    transform: scale(1) !important;
    opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide.swiper-slide-active {
    transform: scale(1) translateZ(0) !important;
}

.swiper-slide.swiper-slide-active img {
    filter: grayscale(0);
}

.swiper-image {
    position: relative;
    width: 100%;
    padding-top: var(--swiper-image-ratio);
}

.swiper-image .image img {
    width: 100%;
    height: 750px;
    border-radius: 24px;
    cursor: e-resize;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 8px;
    width: 12px;
    height: 12px;
    margin-top: 40px;
    background: rgb(255, 255, 255, 1) !important;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
    color: rgba(16, 24, 32, 1);
}

.swiper-button-next {
    right: 0;
    visibility: hidden;
    padding: 20px;
    transition: all .3s ease-in-out;
    transform: translate(50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper-button-prev {
    left: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    transform: translate(50%, -50%);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.swiper:hover .swiper-button-next {
    visibility: visible;
    transform: translate(50%, -50%);
    right: calc((100% - var(--swiper-width)) / 2);
    transition: all .3s ease-in-out;
}

.swiper:hover .swiper-button-prev {
    visibility: visible;
    transform: translate(-50%, -50%);
    left: calc((100% - var(--swiper-width)) / 2);
    transition: all .3s ease-in-out;
}

.swiper .swiper-button-next:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

.swiper .swiper-button-prev:active {
    font-size: 20px !important;
    color: rgba(16, 24, 32, 1);
    background: rgb(198, 195, 195) !important;
    transition: all .3s ease-in-out;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
    opacity: 5;
}

@media only screen and (max-width: 768px) {
    .swiper {
        height: calc(var(--swiper-mobile-width) * var(--swiper-image-ratio) / 100%);
    }

    .swiper-slide {
        width: var(--swiper-mobile-width);
        transform: scale(var(--swiper-mobile-inactive-scale));
    }

    .swiper-backface-hidden .swiper-slide.swiper-slide {
        transform: scale(var(--swiper-mobile-inactive-scale)) translateZ(0);
    }

    //   .swiper-button-next {
    //     right: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }

    //   .swiper-button-prev {
    //     left: calc((100% - var(--swiper-mobile-width)) / 2);
    //   }
}

@media only screen and (max-width: 992px) {
    .swiper-button-next {
        right: -100%;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper-button-prev {
        left: -100%;
        visibility: hidden;
        transition: all .3s ease-in-out;
    }

    .swiper:hover .swiper-button-next {
        visibility: visible;
        transform: translate(50%, -50%);
        right: 40px;
        transition: all .3s ease-in-out;
    }

    .swiper:hover .swiper-button-prev {
        visibility: visible;
        transform: translate(-50%, -50%);
        left: 40px;
        transition: all .3s ease-in-out;
    }

    .swiper .swiper-button-next:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }

    .swiper .swiper-button-prev:active {
        font-size: 20px !important;
        color: rgba(16, 24, 32, 1);
        background: rgb(198, 195, 195) !important;
        transition: all .3s ease-in-out;
        box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%);
        opacity: 5;
    }
}

.disables {
    pointer-events: none;
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.btn-primary {
    background: $primary-color !important;
    border-color: $primary-color !important;
}

.btn-primary:hover {
    background: $primary-color3 !important;
    border-color: $primary-color3 !important;
}

/* Scrollbar Styling */
*::-webkit-scrollbar {
    width: 14px !important;
    height: 5px !important;
    -webkit-overflow-scrolling: touch !important;
    -ms-overflow-style: -ms-autohiding-scrollbar !important;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-button {
    display: none;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-track-piece {
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border: 5px solid transparent;
    border-radius: 10px;
    -webkit-box-shadow: 4px 0px 0px 4px $primary-color inset;
    box-shadow: 4px 0px 0px 4px $primary-color inset;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, $primary-color, $primary-color5);
    border: 0px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.3s ease-in-out !important;
    transition: 0.3s ease-in-out !important;
}

.iframe,
img {
    border-radius: 9px;
}

.btn-custom:hover {
    transition: all .3s ease-in-out;
    background: $primary-color !important;
    color: #fff !important;
}

.btn-custom>i {
    content: '\f105' !important;
    font-family: 'Font Awesome 5 Free' !important;
    position: relative !important;
    right: -20px !important;
    visibility: hidden !important;
}

.btn-custom:hover>i {
    content: '\f105' !important;
    font-family: 'Font Awesome 5 Free' !important;
    position: relative !important;
    right: -10px !important;
    visibility: visible !important;
}

.text-green-700 {
    color: $primary-color !important;
}

.text-primary {
    color: $primary-color !important;
}

.modal .close {
    font-size: 30px;
    position: absolute;
    right: 20px;
}

.dot {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.fade-scale {
    transform: scale(0);
    transition: transform .2s !important;
    animation: zoom-in-zoom-out 1s ease linear;
    /* Animation */
}

.fade-scale.in {
    opacity: 1;
    transform: scale(1.2);
    animation: zoom-in-zoom-out 1s ease linear;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

// .modal-dialog-centered {
//     top: -20% !important;
// }

.overflow-y-auto {
    overflow-y: auto !important;
}

.form-floating input,
.form-group input,
.form-group textarea {
    border-color: #E5E7EB;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-check input {
    border-color: #E5E7EB;
    cursor: grab;
}

.form-check input:active,
.form-check input:focus {
    border: 1px solid $primary-color !important;
    cursor: grabbing;
}

.form-check label {
    font-size: 12px;
    cursor: grab;
    user-select: none;
}

.form-check label a {
    color: $primary-color;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.form-check label a:hover {
    color: $primary-color3;
    transition: all .3s ease-in-out;
}

.form-check label:active {
    cursor: grabbing;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    opacity: .5;
}

.form-group label {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.form-floating input:focus,
.form-group input:focus,
.form-floating input:active,
.form-group input:active,
.form-group textarea:focus,
.form-group textarea:active {
    border-bottom: 2px solid $primary-color !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

input {
    border-color: #E5E7EB;
    border-top: none;
    border-right: none;
    border-left: none;
}

input:active {
    border-bottom: $primary-color !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
}

input:focus,
input:active,
.form-control:focus {
    border-bottom: $primary-color !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.select2 {
    height: 15px;
}

.clearfix {
    clear: both !important;
}

.hide-me {
    display: none;
}